.navbar-dark .navbar-nav .nav-link.nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #cbbde2;
}

.bd-navbar .navbar-nav .nav-link.active, ₢ .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: transparent;
}