<h1>Cadastrar nova Prova</h1>
<div (click)="$event.preventDefault()">
    <form class="p-3" [formGroup]="formulario">
        <tabset #tabs>
            <tab heading="Questões">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="disciplina">Disciplina</label>
                    <div class="input-group">                       
                        <div class="input-group">
                          <input formControlName="disciplina" [typeahead]="select1" class="form-control border-right-0">
                          <div class="input-group-prepend">
                            <span class="input-group-text border-left-0" id="inputGroupPrepend">
                                <a  href="" data-toggle="modal" data-target="#modalDisciplina">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </span>
                          </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="assunto">Assunto</label>
                        <input formControlName="assunto" [typeahead]="select2" class="form-control">
                       <div class="input-group-prepend">
                            <span class="input-group-text border-left-0" id="inputGroupPrepend">
                                <a href="" data-toggle="modal" data-target="#modalAssunto">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                              <label for="titulo">Título da Questão</label>
                              <input type="text" class="form-control" formControlName="titulo"
                                  placeholder="Questão X, Y, Z do concurso X, Y, Z">
                    </div>
                  </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="tipoQuestao">Tipo da Questão</label>
                        <select formControlName="tipoQuestao" class="form-control" (change)="desabilitarAba()">
                            <option value="objetiva">Objetiva</option>
                            <option value="subjetiva">Subjetiva</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dificuldade">Dificuldade</label>
                        <select formControlName="dificuldade" class="form-control">
                            <option disabled selected value="">Selecione</option>
                            <option>Fácil</option>
                            <option>Médio</option>
                            <option>Difícil</option>
                            <option>Nishi</option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label for="corpoQuestao">Corpo da Questão</label>
                        <textarea class="form-control" formControlName="corpoQuestao" rows="3"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label for="comentarios">Comentários</label>
                        <textarea class="form-control" formControlName="comentarios" rows="3"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label for="opcaoCorreta">Opção Correta</label>
                        <textarea class="form-control" formControlName="opcaoCorreta" rows="3"></textarea>
                    </div>
                </div>
            </tab>
            <tab heading="Respostas">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="distrator1">Distrator 1</label>
                        <textarea class="form-control" formControlName="distrator1" rows="3"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label for="distrator1">Distrator 2</label>
                        <textarea class="form-control" formControlName="distrator2" rows="3"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label for="distrator3">Distrator 3</label>
                        <textarea class="form-control" formControlName="distrator3" rows="3"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label for="distrator4">Distrator 4</label>
                        <textarea class="form-control" formControlName="distrator4" rows="3"></textarea>
                    </div>
                </div>

<!-- Modal - Criar Disciplina -->
<div class="modal fade" id="modalDisciplina" tabindex="-1" role="dialog" aria-labelledby="modalDisciplina"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDisciplina">Criar Disciplina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="form-group col-12">
                    <label for="inputDisciplina">Nome da Disciplina</label>
                    <input [(ngModel)]="inputDisciplina" name="inputDisciplina" class="form-control">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="selectAssunto">Assunto</label>
                <select id="selectAssunto" class="form-control">
                    <option selected>Selecione</option>
                    <option>...</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Criar Assunto -->
<div class="modal fade" id="modalAssunto" tabindex="-1" role="dialog" aria-labelledby="modalAssunto" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAssunto">Criar Assunto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="form-group col-12">
                    <label for="inputAssunto">Nome do Assunto</label>
                    <input [(ngModel)]="inputAssunto" name="inputAssunto" class="form-control">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="selectDisciplina">Disciplina</label>
                <select id="selectDisciplina" class="form-control">
                    <option selected>Selecione</option>
                    <option>...</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
            </tab>
        </tabset>
    </form>
    <div class="text-right">
        <button type="button" (click)="salvar()" class="btn btn-primary text-right">Cadastrar</button>
    </div>
</div>