<div class="row">
    <div class="col-md-6 p-2 ">
        <div class="card min-height">
            <div class="card-header ">
                <h5 class="card-title">Estatísticas</h5>
                <p class="card-category">Gráficos de performance</p>
            </div>
            <div class="card-body ">
                <canvas id=chartBar0 width="400" height="100"></canvas>
                <br>
                <canvas id=chartBar width="400" height="100"></canvas>
            </div>
            <div class="card-footer ">
                <div class="stats">
                    <i class="fa fa-history"></i> Atualizado 3 minutos atrás
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-2">
        <div class="card min-height">
            <div class="card-header">
                <h5 class="card-title">Questões</h5>
                <p class="card-category">Matérias</p>
            </div>
            <div class="card-body">
                <canvas id="chartEmail"></canvas>
            </div>
            <div class="card-footer">
                <div class="legend text-center">
                    <i class="fa fa-circle text-primary"></i> Legenda 1
                    <i class="fa fa-circle text-warning"></i> Legenda 2
                    <i class="fa fa-circle text-danger"></i> Legenda 3
                    <i class="fa fa-circle text-gray"></i> Legenda 4
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-2">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">Gráfico de Linha</h5>
                <p class="card-category">Gráfico de Linha em Pontos</p>
            </div>
            <div class="card-body">
                <canvas id="speedChart" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Série 1
                    <i class="fa fa-circle text-warning"></i> Série 2
                </div>
            </div>
        </div>
    </div>
</div>

